In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family = 'malgun Gothic')
%matplotlib inline
import warnings

c:\Users\thoma\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [80]:
speed = pd.read_excel('2023_차속도_1월.xlsx')
geocode_start = pd.read_excel('시점명.xlsx')
geocode_end = pd.read_excel('종점명.xlsx')

In [81]:
speed.head()

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20230101,일,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,...,29.24,21.88,30.72,33.23,32.04,35.90,30.01,48.15,48.96,51.71
1,20230101,일,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2.0,보조간선도로,...,11.31,10.21,12.62,13.05,15.18,14.19,17.00,16.30,12.33,13.87
2,20230101,일,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,12.81,17.11,17.26,16.67,20.01,17.97,18.43,21.74,21.29,17.85
3,20230101,일,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1.0,보조간선도로,...,44.42,44.91,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54
4,20230101,일,가락로,1230024700,방이초교,방이동고분군,상행,844,1.0,기타도로,...,13.93,13.88,20.42,16.39,14.61,15.89,17.63,17.56,15.13,16.90

In [82]:
geocode_start

                    시점명   Latitude   Longitude   일자
0                2공단사거리        NaN         NaN  124
1                3공단파출소        NaN         NaN   62
2     6번국도 서울강서-경기부천 경계  37.504269  126.788653   31
3                 88체육관        NaN         NaN   93
4                CBS방송국        NaN         NaN   31
...                 ...        ...         ...  ...
1821           흑석2동신한은행  37.508533  126.964259   62
1822       흑석2동신한은행_흑석로  37.506224  126.956958   31
1823                흑석역  37.509039  126.963477   93
1824              흥인사거리   37.56798  127.015994  124
1825               흥인지문  37.571072  127.009657  124

[1826 rows x 4 columns]

In [83]:
geocode_start.drop("일자", axis = 1, inplace=True)
geocode_end.drop("일자", axis = 1, inplace=True)

In [84]:
speed = speed.merge(geocode_start, on = '시점명');speed

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,17시,18시,19시,20시,21시,22시,23시,24시,Latitude,Longitude
0,20230101,일,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,...,30.72,33.23,32.04,35.90,30.01,48.15,48.96,51.71,37.640402,127.001398
1,20230101,일,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2.0,보조간선도로,...,12.62,13.05,15.18,14.19,17.00,16.30,12.33,13.87,37.648496,127.00766
2,20230101,일,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,17.26,16.67,20.01,17.97,18.43,21.74,21.29,17.85,37.648496,127.00766
3,20230101,일,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1.0,보조간선도로,...,63.47,62.30,48.73,51.30,46.97,50.32,52.08,40.54,37.648496,127.00766
4,20230101,일,가락로,1230024700,방이초교,방이동고분군,상행,844,1.0,기타도로,...,20.42,16.39,14.61,15.89,17.63,17.56,15.13,16.90,37.513092,127.120563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156716,20230131,화,흑석로,1190003703,중앙대학교,성심의집,하행,398,0.0,기타도로,...,15.96,14.20,15.39,16.75,17.13,17.50,17.13,19.28,37.504556,126.956938
156717,20230131,화,흑석로,1190003702,성심의집,이화빌라,하행,143,0.0,기타도로,...,15.25,18.49,16.37,17.16,20.02,16.32,15.94,19.19,36.321555,127.42035
156718,20230131,화,흑석로,1190003701,이화빌라,이화약국,하행,133,0.0,기타도로,...,13.77,17.80,16.03,16.01,19.75,16.22,15.33,18.39,NaN,NaN
156719,20230131,화,희우정로,1130016400,망원정사거리,한강공원입구,상행,692,2.0,기타도로,...,21.72,14.40,24.01,21.76,20.68,20.04,20.16,21.61,37.552063,126.904949
156720,20230131,화,희우정로,1130016300,한강공원입구,망원정사거리,하행,688,2.0,기타도로,...,23.40,13.23,19.57,18.78,17.87,28.28,16.25,18.46,37.556063,126.89895

In [85]:
speed.rename(columns = {'Latitude':'Latitude_start','Longitude':'Longitude_start'}, inplace = True)

In [86]:
speed = speed.merge(geocode_end,on = '종점명');speed

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,19시,20시,21시,22시,23시,24시,Latitude_start,Longitude_start,Latitude,Longitude
0,20230101,일,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,...,32.04,35.90,30.01,48.15,48.96,51.71,37.640402,127.001398,37.648496,127.007660
1,20230101,일,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2.0,보조간선도로,...,15.18,14.19,17.00,16.30,12.33,13.87,37.648496,127.00766,37.648496,127.007660
2,20230101,일,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,20.01,17.97,18.43,21.74,21.29,17.85,37.648496,127.00766,37.648496,127.007660
3,20230101,일,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1.0,보조간선도로,...,48.73,51.30,46.97,50.32,52.08,40.54,37.648496,127.00766,37.640402,127.001398
4,20230101,일,가락로,1230024700,방이초교,방이동고분군,상행,844,1.0,기타도로,...,14.61,15.89,17.63,17.56,15.13,16.90,37.513092,127.120563,37.508269,127.116123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156685,20230131,화,흑석로,1190003703,중앙대학교,성심의집,하행,398,0.0,기타도로,...,15.39,16.75,17.13,17.50,17.13,19.28,37.504556,126.956938,36.321555,127.420350
156686,20230131,화,흑석로,1190003702,성심의집,이화빌라,하행,143,0.0,기타도로,...,16.37,17.16,20.02,16.32,15.94,19.19,36.321555,127.42035,NaN,NaN
156687,20230131,화,흑석로,1190003701,이화빌라,이화약국,하행,133,0.0,기타도로,...,16.03,16.01,19.75,16.22,15.33,18.39,NaN,NaN,37.504875,126.950696
156688,20230131,화,희우정로,1130016400,망원정사거리,한강공원입구,상행,692,2.0,기타도로,...,24.01,21.76,20.68,20.04,20.16,21.61,37.552063,126.904949,37.556063,126.898950
156689,20230131,화,희우정로,1130016300,한강공원입구,망원정사거리,하행,688,2.0,기타도로,...,19.57,18.78,17.87,28.28,16.25,18.46,37.556063,126.89895,37.552063,126.904949

In [87]:
speed.rename(columns = {'Latitude':'Latitude_end','Longitude':'Longitude_end'}, inplace = True)

In [88]:
sp = speed[(speed['Latitude_start'].isnull() == False) | (speed['Latitude_end'].isnull() == False)];sp

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,19시,20시,21시,22시,23시,24시,Latitude_start,Longitude_start,Latitude_end,Longitude_end
0,20230101,일,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,...,32.04,35.90,30.01,48.15,48.96,51.71,37.640402,127.001398,37.648496,127.007660
1,20230101,일,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2.0,보조간선도로,...,15.18,14.19,17.00,16.30,12.33,13.87,37.648496,127.00766,37.648496,127.007660
2,20230101,일,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,20.01,17.97,18.43,21.74,21.29,17.85,37.648496,127.00766,37.648496,127.007660
3,20230101,일,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1.0,보조간선도로,...,48.73,51.30,46.97,50.32,52.08,40.54,37.648496,127.00766,37.640402,127.001398
4,20230101,일,가락로,1230024700,방이초교,방이동고분군,상행,844,1.0,기타도로,...,14.61,15.89,17.63,17.56,15.13,16.90,37.513092,127.120563,37.508269,127.116123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156685,20230131,화,흑석로,1190003703,중앙대학교,성심의집,하행,398,0.0,기타도로,...,15.39,16.75,17.13,17.50,17.13,19.28,37.504556,126.956938,36.321555,127.420350
156686,20230131,화,흑석로,1190003702,성심의집,이화빌라,하행,143,0.0,기타도로,...,16.37,17.16,20.02,16.32,15.94,19.19,36.321555,127.42035,NaN,NaN
156687,20230131,화,흑석로,1190003701,이화빌라,이화약국,하행,133,0.0,기타도로,...,16.03,16.01,19.75,16.22,15.33,18.39,NaN,NaN,37.504875,126.950696
156688,20230131,화,희우정로,1130016400,망원정사거리,한강공원입구,상행,692,2.0,기타도로,...,24.01,21.76,20.68,20.04,20.16,21.61,37.552063,126.904949,37.556063,126.898950
156689,20230131,화,희우정로,1130016300,한강공원입구,망원정사거리,하행,688,2.0,기타도로,...,19.57,18.78,17.87,28.28,16.25,18.46,37.556063,126.89895,37.552063,126.904949

In [89]:
sp['speed_mean'] = sp[['01시', '02시', '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시', '24시']].mean(axis=1)

C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\1142860617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp['speed_mean'] = sp[['01시', '02시', '03시', '04시', '05시', '06시', '07시', '08시', '09시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시', '24시']].mean(axis=1)

In [90]:
sp = sp[['도로명','방향','거리','차선수','Latitude_start','Longitude_start','Latitude_end','Longitude_end','speed_mean']];sp

,도로명,방향,거리,차선수,Latitude_start,Longitude_start,Latitude_end,Longitude_end,speed_mean
0,4.19로,상행,1179,1.0,37.640402,127.001398,37.648496,127.007660,38.673750
1,4.19로,상행,352,2.0,37.648496,127.00766,37.648496,127.007660,14.661667
2,4.19로,하행,354,2.0,37.648496,127.00766,37.648496,127.007660,19.822500
3,4.19로,하행,1190,1.0,37.648496,127.00766,37.640402,127.001398,51.216667
4,가락로,상행,844,1.0,37.513092,127.120563,37.508269,127.116123,18.748750
...,...,...,...,...,...,...,...,...,...
156685,흑석로,하행,398,0.0,37.504556,126.956938,36.321555,127.420350,18.795000
156686,흑석로,하행,143,0.0,36.321555,127.42035,NaN,NaN,17.355833
156687,흑석로,하행,133,0.0,NaN,NaN,37.504875,126.950696,17.975417
156688,희우정로,상행,692,2.0,37.552063,126.904949,37.556063,126.898950,22.567500
156689,희우정로,하행,688,2.0,37.556063,126.89895,37.552063,126.904949,18.181667

In [91]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147452 entries, 0 to 156689
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   도로명              147452 non-null  object
 1   방향               147452 non-null  object
 2   거리               147452 non-null  int64
 3   차선수              146739 non-null  float64
 4   Latitude_start   124800 non-null  object
 5   Longitude_start  124800 non-null  object
 6   Latitude_end     124800 non-null  float64
 7   Longitude_end    124800 non-null  float64
 8   speed_mean       147452 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 11.2+ MB

In [92]:
sp[['Latitude_start','Longitude_start','Latitude_end','Longitude_end']] = sp[['Latitude_start','Longitude_start','Latitude_end','Longitude_end']].fillna("0")

C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\4113075488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp[['Latitude_start','Longitude_start','Latitude_end','Longitude_end']] = sp[['Latitude_start','Longitude_start','Latitude_end','Longitude_end']].fillna("0")

In [93]:
sp

,도로명,방향,거리,차선수,Latitude_start,Longitude_start,Latitude_end,Longitude_end,speed_mean
0,4.19로,상행,1179,1.0,37.640402,127.001398,37.648496,127.00766,38.673750
1,4.19로,상행,352,2.0,37.648496,127.00766,37.648496,127.00766,14.661667
2,4.19로,하행,354,2.0,37.648496,127.00766,37.648496,127.00766,19.822500
3,4.19로,하행,1190,1.0,37.648496,127.00766,37.640402,127.001398,51.216667
4,가락로,상행,844,1.0,37.513092,127.120563,37.508269,127.116123,18.748750
...,...,...,...,...,...,...,...,...,...
156685,흑석로,하행,398,0.0,37.504556,126.956938,36.321555,127.42035,18.795000
156686,흑석로,하행,143,0.0,36.321555,127.42035,0,0,17.355833
156687,흑석로,하행,133,0.0,0,0,37.504875,126.950696,17.975417
156688,희우정로,상행,692,2.0,37.552063,126.904949,37.556063,126.89895,22.567500
156689,희우정로,하행,688,2.0,37.556063,126.89895,37.552063,126.904949,18.181667

In [108]:
sp[['Latitude_start','Longitude_start']] =  sp[['Latitude_start','Longitude_start']].replace({'Latitude': 0, 'Longitude' :0})
sp[['Latitude_end','Longitude_end']] =  sp[['Latitude_end','Longitude_end']].replace({'Latitude': 0, 'Longitude' :0})

C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\1450382698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp[['Latitude_start','Longitude_start']] =  sp[['Latitude_start','Longitude_start']].replace({'Latitude': 0, 'Longitude' :0})
C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\1450382698.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp[['Latitude_end','Longitude_end']] =  sp[['Latitude_end','Longitude_end']].replace({'Latitude': 0, 'Longitude' :0})

In [110]:
sp[sp['Latitude_end']=='Latitude']

Empty DataFrame
Columns: [도로명, 방향, 거리, 차선수, Latitude_start, Longitude_start, Latitude_end, Longitude_end, speed_mean, Latitude_start1, Longitude_start1, Latitude_end1, Longitude_end1, Latitude, Longitude]
Index: []

In [112]:
sp[['Latitude_start','Longitude_start']] = sp[['Latitude_start','Longitude_start']].astype(float)
sp[['Latitude_end','Longitude_end']] = sp[['Latitude_end','Longitude_end']].astype(float)

C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\198713879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp[['Latitude_start','Longitude_start']] = sp[['Latitude_start','Longitude_start']].astype(float)
C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\198713879.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp[['Latitude_end','Longitude_end']] = sp[['Latitude_end','Longitude_end']].astype(float)

In [115]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147452 entries, 0 to 156689
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   도로명               147452 non-null  object
 1   방향                147452 non-null  object
 2   거리                147452 non-null  int64
 3   차선수               146739 non-null  float64
 4   Latitude_start    147452 non-null  float64
 5   Longitude_start   147452 non-null  float64
 6   Latitude_end      147452 non-null  float64
 7   Longitude_end     147452 non-null  float64
 8   speed_mean        147452 non-null  float64
 9   Latitude_start1   147452 non-null  float64
 10  Longitude_start1  147452 non-null  float64
 11  Latitude_end1     147452 non-null  float64
 12  Longitude_end1    147452 non-null  float64
 13  Latitude          147452 non-null  float64
 14  Longitude         147452 non-null  float64
dtypes: float64(12), int64(1), object(2)
memory usage: 18.0+ MB

In [114]:
sp['Latitude_start1'] = sp.apply(lambda x: x['Latitude_start'] if x['Latitude_start'] != 0  else x['Latitude_end'], axis=1)
sp['Longitude_start1'] = sp.apply(lambda x: x['Longitude_start'] if x['Longitude_start'] != 0 else x['Longitude_end'], axis=1)

sp['Latitude_end1'] = sp.apply(lambda x: x['Latitude_end'] if x['Latitude_end'] != 0  else x['Latitude_start'], axis=1)
sp['Longitude_end1'] = sp.apply(lambda x: x['Longitude_end'] if x['Longitude_end'] != 0 else x['Longitude_start'], axis=1)

sp['Latitude']  = sp.apply(lambda x: (x['Latitude_start1'] + x['Latitude_end1']) / 2 , axis=1)
sp['Longitude'] = sp.apply(lambda x: (x['Longitude_start1'] + x['Longitude_end1']) / 2, axis=1)

C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\2358023582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp['Latitude_start1'] = sp.apply(lambda x: x['Latitude_start'] if x['Latitude_start'] != 0  else x['Latitude_end'], axis=1)

C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\2358023582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp['Longitude_start1'] = sp.apply(lambda x: x['Longitude_start'] if x['Longitude_start'] != 0 else x['Longitude_end'], axis=1)
C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\2358023582.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp['Latitude_end1'] = sp.apply(lambda x: x['Latitude_end'] if x['Latitude_end'] != 0  else x['Latitude_start'], axis=1)
C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\2358023582.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp['Longitude_end1'] = sp.apply(lambda x: x['Longitude_end'] if x['Longitude_end'] != 0 else x['Longitude_start'], axis=1)
C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\2358023582.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp['Latitude']  = sp.apply(lambda x: (x['Latitude_start1'] + x['Latitude_end1']) / 2 , axis=1)
C:\Users\thoma\AppData\Local\Temp\ipykernel_94136\2358023582.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp['Longitude'] = sp.apply(lambda x: (x['Longitude_start1'] + x['Longitude_end1']) / 2, axis=1)

In [117]:
sp

,도로명,방향,거리,차선수,Latitude_start,Longitude_start,Latitude_end,Longitude_end,speed_mean,Latitude_start1,Longitude_start1,Latitude_end1,Longitude_end1,Latitude,Longitude
0,4.19로,상행,1179,1.0,37.640402,127.001398,37.648496,127.007660,38.673750,37.640402,127.001398,37.648496,127.007660,37.644449,127.004529
1,4.19로,상행,352,2.0,37.648496,127.007660,37.648496,127.007660,14.661667,37.648496,127.007660,37.648496,127.007660,37.648496,127.007660
2,4.19로,하행,354,2.0,37.648496,127.007660,37.648496,127.007660,19.822500,37.648496,127.007660,37.648496,127.007660,37.648496,127.007660
3,4.19로,하행,1190,1.0,37.648496,127.007660,37.640402,127.001398,51.216667,37.648496,127.007660,37.640402,127.001398,37.644449,127.004529
4,가락로,상행,844,1.0,37.513092,127.120563,37.508269,127.116123,18.748750,37.513092,127.120563,37.508269,127.116123,37.510680,127.118343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156685,흑석로,하행,398,0.0,37.504556,126.956938,36.321555,127.420350,18.795000,37.504556,126.956938,36.321555,127.420350,36.913056,127.188644
156686,흑석로,하행,143,0.0,36.321555,127.420350,0.000000,0.000000,17.355833,36.321555,127.420350,36.321555,127.420350,36.321555,127.420350
156687,흑석로,하행,133,0.0,0.000000,0.000000,37.504875,126.950696,17.975417,37.504875,126.950696,37.504875,126.950696,37.504875,126.950696
156688,희우정로,상행,692,2.0,37.552063,126.904949,37.556063,126.898950,22.567500,37.552063,126.904949,37.556063,126.898950,37.554063,126.901950
156689,희우정로,하행,688,2.0,37.556063,126.898950,37.552063,126.904949,18.181667,37.556063,126.898950,37.552063,126.904949,37.554063,126.901950

In [120]:
speed_final = sp.copy()

In [121]:
speed_final

,도로명,방향,거리,차선수,Latitude_start,Longitude_start,Latitude_end,Longitude_end,speed_mean,Latitude_start1,Longitude_start1,Latitude_end1,Longitude_end1,Latitude,Longitude
0,4.19로,상행,1179,1.0,37.640402,127.001398,37.648496,127.007660,38.673750,37.640402,127.001398,37.648496,127.007660,37.644449,127.004529
1,4.19로,상행,352,2.0,37.648496,127.007660,37.648496,127.007660,14.661667,37.648496,127.007660,37.648496,127.007660,37.648496,127.007660
2,4.19로,하행,354,2.0,37.648496,127.007660,37.648496,127.007660,19.822500,37.648496,127.007660,37.648496,127.007660,37.648496,127.007660
3,4.19로,하행,1190,1.0,37.648496,127.007660,37.640402,127.001398,51.216667,37.648496,127.007660,37.640402,127.001398,37.644449,127.004529
4,가락로,상행,844,1.0,37.513092,127.120563,37.508269,127.116123,18.748750,37.513092,127.120563,37.508269,127.116123,37.510680,127.118343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156685,흑석로,하행,398,0.0,37.504556,126.956938,36.321555,127.420350,18.795000,37.504556,126.956938,36.321555,127.420350,36.913056,127.188644
156686,흑석로,하행,143,0.0,36.321555,127.420350,0.000000,0.000000,17.355833,36.321555,127.420350,36.321555,127.420350,36.321555,127.420350
156687,흑석로,하행,133,0.0,0.000000,0.000000,37.504875,126.950696,17.975417,37.504875,126.950696,37.504875,126.950696,37.504875,126.950696
156688,희우정로,상행,692,2.0,37.552063,126.904949,37.556063,126.898950,22.567500,37.552063,126.904949,37.556063,126.898950,37.554063,126.901950
156689,희우정로,하행,688,2.0,37.556063,126.898950,37.552063,126.904949,18.181667,37.556063,126.898950,37.552063,126.904949,37.554063,126.901950

In [124]:
speed_final = speed_final[['거리','차선수','Latitude','Longitude','speed_mean']];speed_final

          거리  차선수   Latitude   Longitude  speed_mean
0       1179  1.0  37.644449  127.004529   38.673750
1        352  2.0  37.648496  127.007660   14.661667
2        354  2.0  37.648496  127.007660   19.822500
3       1190  1.0  37.644449  127.004529   51.216667
4        844  1.0  37.510680  127.118343   18.748750
...      ...  ...        ...         ...         ...
156685   398  0.0  36.913056  127.188644   18.795000
156686   143  0.0  36.321555  127.420350   17.355833
156687   133  0.0  37.504875  126.950696   17.975417
156688   692  2.0  37.554063  126.901950   22.567500
156689   688  2.0  37.554063  126.901950   18.181667

[147452 rows x 5 columns]

In [128]:
speed_final['speed_mean_차선수_mul'] = speed_final.apply(lambda x: x['차선수'] * x['speed_mean'] if x['차선수'] != 0 else x['speed_mean'], axis = 1)

          거리  차선수   Latitude   Longitude  speed_mean  speed_mean_차선수_mul
0       1179  1.0  37.644449  127.004529   38.673750           38.673750
1        352  2.0  37.648496  127.007660   14.661667           29.323333
2        354  2.0  37.648496  127.007660   19.822500           39.645000
3       1190  1.0  37.644449  127.004529   51.216667           51.216667
4        844  1.0  37.510680  127.118343   18.748750           18.748750
...      ...  ...        ...         ...         ...                 ...
156685   398  0.0  36.913056  127.188644   18.795000           18.795000
156686   143  0.0  36.321555  127.420350   17.355833           17.355833
156687   133  0.0  37.504875  126.950696   17.975417           17.975417
156688   692  2.0  37.554063  126.901950   22.567500           45.135000
156689   688  2.0  37.554063  126.901950   18.181667           36.363333

[147452 rows x 6 columns]

In [130]:
speed_final.to_csv("traffic_speed.csv", encoding = 'utf-8')